@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sixtyfour  {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}